@model IEnumerable<BlueModasBack.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagem_url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagem_url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item._id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item._id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item._id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
